#============================================
# BUILD ARTIFACTS — BACKEND & FRONTEND
#============================================
target/
**/target/

#============================================
# ENV & SECRETS
#============================================
.env
**/.env

#============================================
# GIT
#============================================
.git
.gitignore

#============================================
# LOGS & TEMP FILES
#============================================
*.log
tmp/

#============================================
# MAVEN WRAPPER
#============================================
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd
