# ========================================
# Ecomera Eureka Service Registry Environment
# ========================================

# ---------------------------------------
# Server & Spring Configuration
# ---------------------------------------
EUREKA_SERVER_PORT=8761
SPRING_PROFILES_ACTIVE=dev

# ---------------------------------------
# Config Server
# ---------------------------------------
CONFIG_SERVER_HOST=localhost
CONFIG_SERVER_PORT=8888

# ---------------------------------------
# Eureka
# ---------------------------------------
EUREKA_HOSTNAME=localhost
EUREKA_SELF_PRESERVATION=true
